/* animals.css */
#content-display {
  text-align: center;
  padding: 2rem;
  background-color: #fff3e0;
}
#itemImage {
  max-width: 250px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}
