/* numbers.css */
#content-display {
  text-align: center;
  padding: 2rem;
  background-color: #f1f8ff;
}
#itemImage {
  width: 180px;
  height: auto;
  border-radius: 12px;
  border: 2px solid #90caf9;
}

